#container {
    display: flex;
    justify-content: space-around;
}

#Left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

#Right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Right2 {
    display: flex;
    justify-content: right;
    align-items: center;
}

#text {
    color: black;
    position: absolute;
    right: 300px;
    top: 100px;
    left: 120px;
}

#Banner {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

#Left1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#Left2 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#Left3 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkgray;
    width: 15%;
}

#container11 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

#Product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: forestgreen;
    width: 178px;
    height: 50px
}

#borderP {
    border-color: green;
    border-right: 1px;
}

#Right1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#sear {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 253, 250);
    width: 200px;
    height: 30px;
    border: 1px;
    border-color: rgb(241, 245, 245);
    border-style: outset;
}

#sor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 253, 250);
    width: 136px;
    height: 48px;
    border: 1px;
    border-color: rgb(202, 210, 210);
    border-style: ridge;
    background-color: rgb(238, 232, 234);
}

#Best-seller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #8C5D11;
    left: 180px;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 13px;
    width: 80px;
    height: 30px;
    background-color: #FFC970;
    border-radius: 20px 20px 20px 20px;
}

#New {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #8C5D11;
    left: 180px;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 13px;
    width: 40px;
    height: 30px;
    background-color: #FFC970;
    border-radius: 20px 20px 20px 20px;
}

#New1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 180px;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 13px;
    width: 40px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
}

#container-2 {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

#container-3 {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

#container-4 {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

#container-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

#container-6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #171718;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    width: 1460px;
    height: 400px;
}

table option {
    height: 20px;
    width: 40px;
    background-color: #171718;
}

#container-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    font-size: 20px;
}

#search1 {
    background-color: #1c3451;
    border-radius: 10px 10px 5px 5px #fafcff;
    color: #fff;
    margin-right: 15px;
    width: 250px;
    height: 25px;
}

#search1::placeholder {
    padding-left: 5px;
    color: #fff;
}

#search2 {
    background-color: #25a836;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    height: 25px;
    padding: 0 3px;
}

.search_form {
    position: absolute;
    top: 2515px;
    right: 140px;
}